.send-dialog {
  position:fixed;
  width:100px;
  bottom:0;
  border-radius:5px;
  margin:5px;
  left: 0;
}

#message-box {
  position:fixed;
  left:101px;
  width:250px;
  bottom:0;
  margin:5px;
  border-radius:5px;
}

#username {
  margin:4px;
}
#password {
  margin:4px;
}
#navbar {
  position:fixed;
  margin:10px;
  padding:10px;
  right:0;
  height:98%;
  top:0;
}

.chat {
  display:block;
  border-radius:20px;
  text-align:left;
  margin:10px;
  padding:5px;
  width:250px;
  left:0;
  top:0;
}

.channel {
  position:fixed;
  left:0;
  top:0;
  height:93%;
}

.friends-list {
  position:fixed;
  left:0;
  background-color:black;
  color:white;
  border-radius:20px;
  text-align:left;
  margin:10px;
  padding:5px;
  width:250px;
  height:100%;

}

.login-main {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:400px;
  height:300px;
  padding:10px;
}